@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,200&display=swap');
.main{
  background-color: white;
}
*{
  font-family: 'Montserrat Alternates', sans-serif;
}
.css-1ii3p2c{
  color: rgba(0, 0, 0, 0.5) !important;
  font-family: 'Montserrat Alternates', sans-serif !important;
}
.urun_ad{
  font-size: 1.5rem;
  font-family: 'Montserrat Alternates', sans-serif;
}
.enCokAltCizgi{
  margin-top: 7rem !important;
  margin-bottom: 2rem !important;
}
.enCokAltCizgi ::after{
  content: '';
  position: absolute;
  left: 50%;
  top:9rem;
  transform: translateX(-50%);
  width: 35%;
  height: 2px;
  background: #ffb300 !important;
}
.altCizgi ::before{
  content: '';
  position: absolute;
  left: 50%;
  top:5.2rem;
  transform: translateX(-50%);
  width: 35%;
  height: 2px;
  background: #ffb300 !important;
}
.urun_ad::before{
  content: '';
  position: absolute;
  left: 50%;
  top:2.5rem;
  transform: translateX(-50%);
  width: 35%;
  height: 2px;
  background: #ffb300 !important;
}
.istatistik{
  background-color: #C86262;

  margin-bottom: -40px !important;
}
.sahte_fiyat{
  text-decoration:line-through grey;
}
.urun_buton{
  width: 100% !important;
}
.ust{
  width: 100% !important;
  position: fixed;
  z-index: 1;
  top:0;
}
.begeni_icon{
  position: absolute;
  right: 0;
  top:0;
  box-shadow: 0px 6px 13px -6px rgba(0,0,0,0.75);
  z-index: 1;
  border-radius: 25% !important;
}
.soru_bolumu{
  margin-bottom: -20% !important;
}

.tercih{
  background-color: #1B3D2F !important;
  padding-bottom: 10px;
  padding-top: 10px;
}
.benzer{
  background-color: #FFC0B8 !important;
  padding-top: 10px;
}
.📦rgt_50px{
  right: 0 !important;
  z-index: 2 !important;
}
.en_populer{
  background-color: #1B3D2F !important;
  height: 100%;
}

.sayfa{
  width: 120% !important;
  margin-left: -10% !important;
  margin-top: -22px !important;
}
.bg-clr_white{
  width: 100% !important;
}
.sayfa_gorsel{
  width: 80% !important;
  margin-left: 10%;
}
.navbar{
 width: 100% !important;
  background-color:  white;
  box-shadow: -1px 9px 19px -12px rgba(0,0,0,0.75);
}

.sepet_eleman{
  margin-top: 5px;
  width: 90% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}
.sepet_miktar{
  border-radius: 8px;
  padding: 5px 0;
  margin-right: 5px;
  box-shadow: -1px 4px 15px -12px rgba(0,0,0,0.75);
}
.steps{
  width: 80% !important;
  margin-left: 10% !important;
}
.sepet_onay{
  position: fixed;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 25%;
  z-index: 2;
}
  .sepet_arka{
  width: 100%;
  }
  .sepet_arka .grid {
    height: 75%;
    margin-bottom: 10%;
  }
.sepet_dar_ekran{
  position: absolute;
  right: 5%;
  top: 0;
}
.sidebar{
  background: coral !important;
  color: black !important;
}
.app-body{
  overflow: hidden !important;
}
.app-footer{
  padding-top: 10px;
  background-color:  #e3f2fd;
  width: 100% !important;
}

.react-multiple-carousel__arrow{
  z-index: 1;
}

.dashboard{
  background-color: #F2ECFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.vidget:hover{
  -webkit-box-shadow: 10px 13px 30px -15px rgba(0,0,0,0.69);
  -moz-box-shadow: 10px 13px 30px -15px rgba(0,0,0,0.69);
  box-shadow: 10px 13px 30px -15px rgba(0,0,0,0.69);
}
.appBackground{
  width: 100%;
  background-image: linear-gradient(to right top, #cedbdc, #d2dbde, #d7dbde, #dadbdd, #dcdcdc);
}
.📦w_400px{
  overflow: hidden;
}

@media screen and (max-width: 600px){
  .navbar-brand{
    margin-top: -5%;
    margin-left: -200px !important;
    color: #33C329 !important;
  }

  .📦w_400px{
    width: 100% !important;
  }

  .urunler{
    width: 120%;
    margin-left: -10%;
  }
  .blur{
    position: absolute;
    width: 90%;
    margin-left: 2%;
    height: 250px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-image: url('https://res.cloudinary.com/koydengelsin/image/upload/v1573126812/icerik_w3diqf.jpg');
  }
  .carous-item{
    height: 270px;
    width: 100%;
    border-radius: 0px 20px;

  }
  .carous{
    width: 120%;
    margin-left: -10%;
    max-height: 300px;
    box-shadow: 3px 7px 36px -12px rgba(0,0,0,0.75);
  }
  .siparisver{
    width: 120%;
    margin-left: -10%;
    margin-top: -10%;
  }

  .carous-img{
    max-height: 280px;
    width: 100%;
  }
  .kac-defa-satilmis{
    width: 110%;
    margin-left: -5%;
  }
}
@media screen and (min-width: 600px) {
  .sepet_dar_ekran{
    visibility: hidden;
    display: none;
  }
.yan_menu_iconu{
  visibility: hidden;
  display: none;
}

}




.fiyat{
  margin-left: 50% !important;
}
.siparis-buton{
  border-radius: 5px;
  width: 70%;
  font-size: 1rem;
  margin-left: 15%;
  margin-top: -5%;
}
.urun-bilgi{
  margin-top: 10%;
  font-size: 10px;
}


.seviye-butonu{
  position: absolute;
  top:0;
  right: 5%;
}
.duzenle-modal{
  width: 95%;

}

.siparisver{
  text-align: center;
  align-items: center;
}
.siparis-notu{
  max-width: 100%;
}
.sepet-img{

height: 120px;
}

.azalt-buton{
  position: absolute;
  top:10%;
  right:-5%;
  border-radius: 50px;
}

.magaza{
  background-color: #EBE6E6;
  border: 0;
  border-radius: 8px;
}

.hesapno-text{
  width: 87%;
}

.golge{
  -webkit-box-shadow: 10px 9px 24px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 9px 24px -13px rgba(0,0,0,0.75);
  box-shadow: 10px 9px 24px -13px rgba(0,0,0,0.75);
  border-radius: 8px;
}
.sepete-ekle-buton{
  font-size: 100%;

}
.btn-info{
 width: 100%;
}

.first{
  width: 120%;
  margin-left: -10%;
  height: 400px;
  background-image: url('https://res.cloudinary.com/koydengelsin/image/upload/v1573126812/icerik_w3diqf.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}


@keyframes animate {
  0% {
    background-position: -400%;
    box-shadow: 0 0 0 -16px rgba(0,0,0,0.75);
  }
  100% {
    background-position: 400%;

  }
}
.first-buton{
 margin: auto;
 width: 50%;
  margin-left: 25%;
  margin-top: 15%;
  border-radius: 8px;
  background-color: #00D1DA;
  border: 0;
  box-shadow: 3px 13px 29px -11px rgba(0,0,0,0.75);
  font-size: 18px;
}
html{
  scroll-behavior: smooth;
}
.chart-wrapper{
  min-height: 600px;
  min-width: 100&;
}
.aylik-grafik{
  width: 120%;
  margin-left: -10% !important;
}

.title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 30px;

}

.css-yrjgl1{
  background-color: #FFE850 !important;
  margin-left: 10% !important;
}
.step a i {
  color: #37FFC2;
}
.steps{

  border: none !important;
  border-radius: 0;
}
.step .active{
  background-color: red;
}

.sepet_alt_kısım{
  padding-top: 50px;
  padding-bottom: 65px;
  background-color: white;;
  width: 105%;
  position: relative;
  bottom: 0;
}
.sepet_alt_kısım .btn{
  margin-left: 25%;
  width: 50%;
  margin-top: 25px;
  margin-right: 25%;
}
.yan_seçke{
  background-color: black ;
}

.menu{
  background-color: white !important;
}
.reklam_gorsel{
  width: 100% !important;
  height: 100px !important;
  object-fit: cover;
  object-position: 10% 25%;
}
.reklam_cumle{
  position: absolute;
  bottom: 5%;
  right: 10%;
  z-index: 1;
  background-color: #0b4d75;
  color: white;

}
.css-1yiw7zu {
  margin-top: 15%;
}

.reklam_iskelet{
  height: 100px;
  margin-top: 5% !important;
  width: 100% !important;
  margin-bottom: 10px !important;
  margin-left: 0%;
}
.react-multi-carousel-dot-list{
  margin-top:2% !important;
}

.tek_urun{
  border: none !important;
}
.urun_card{
  border: none !important;
}
@media only screen and (max-width: 600px) {
  .arama{
    position: absolute;
    top:48px;
    width: 100% !important;
    background-color: white;
  }
  .search .input{
    width: 100% !important;
  }
  .magnifier-image {
    height: 300px !important;
  }
  .magnifier{
    width: 100% !important;
  }
  .urun_card{
    height: 100% !important;
  }

  .alışveriş_butonları{
    width: 100% !important;
    margin-left: -5% !important;
  }


  .menu{
    width: 120% !important;
    margin-left: -10% !important;
    box-shadow: -1px 7px 15px -6px rgba(0,0,0,0.75) !important;
  }
  .menu .item{
    width: 14% !important;
  }


  .tek_urun_gorsel{
    height: 350px;
  }
  .nasıl{
    height: 150px;
  }
  .slayt{
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

}
@media only screen and (max-width: 1024px) and (min-width: 600px){

  .urun_gorsel{
    height: 125px;
    width: 100% !important;
    margin-bottom: 25px;
  }
  .tek_urun_gorsel{
    height: 450px;
  }
  .nasıl{
    height: 250px;
  }
  .slayt{
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

}
@media only screen and (min-width: 1024px) {
  .urun_img{
    height: 200px !important;
  }
  .breadcrumb{
    padding-top: 2% !important;

  }
  .urun_card{
    height: 100% !important;
    margin: 2% 5% !important;
  }
  .urun_gorsel{
    height: 350px;
  }


  .nasıl{
    height: 300px;
  }
  .slayt{
    height: 650px;
    width: 100%;

    object-position: 0 20%;
  }

}


.slayt_iç{
  position: relative;
  text-align: center;
  color: white;
}

.react-multiple-carousel__arrow {
  z-index: 1 !important;
  font-size: 25px;
  min-width: 35px !important;
  min-height: 35px !important;
}
.react-multiple-carousel__arrow::before{
  color: #FF7484 !important;
}
.react-multi-carousel-dot-list li button{
  background-color: white;

}
.react-multi-carousel-dot--active button{
  background-color: #F68252 !important;
  width: 25px !important;
  height: 8px !important;
  margin-bottom: 4px !important;
  border: none !important;
  border-radius: 8px !important;
}


.tek_urun_icerik{
  margin-top: 5%;
}
.card{
  border-radius: 0 !important;
  margin-bottom: 20px !important;
}
.card .image img{
  border-radius: 0 !important;
}
.urun_gorsel{
  width: 100%;
  border-radius: 0 0 0 0 !important;

}
.sepete_at{
  width: 100%;
  background: 0;
}
.css-nill{
  margin-top: 200px !important;
}
.kategori_urunler{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.kateori_kapsam{
  margin-left: 5%;
  margin-right: 5%;
}
.yan_menu{
  background-color: white;
  margin-top: 10%;
  overflow: hidden;
  padding-bottom: 10% !important;
}
.yan_menu_giris{
  margin-left: 15%;
}

.nasıl{
  width: 200%;

  object-position: 40% 50%;
  border-radius: 0px !important;
}
.text-block {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: #0E9B95;
  color: white;
  padding-left: 60px;
  padding-right: 40px;
  width: 150px;
  border-radius: 4px;

}
.slayt_text{
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: #0E9B95;
  color: white;
  height: 50px;
  width: 200px;
  text-align: center;
}

.reklam{
 margin-left: -20% !important;
}
.modals{
  margin-left: 5% !important;
}
 .step{
  flex: auto !important;
}
 .kategori{
   width:120% ;
   margin-left: -10%;
 }

