@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,200&display=swap');
.main{
  background-color: rgb(247, 247, 247);
  font-family: Lato, sans-serif;

}

*{
  font-family: Lato, sans-serif ;
  font-weight: 700 !important;
}
.css-1ii3p2c{
  color: rgba(0, 0, 0, 0.5) !important;
  font-family: 'Montserrat Alternates', sans-serif !important;
}
 .rs-picker-menu.fade.in{
  opacity: 1 !important;
}
.enCokAltCizgi{
  margin-top: 7rem !important;
  margin-bottom: 2rem !important;
}
.enCokAltCizgi ::after{
  content: '';
  position: absolute;
  left: 50%;
  top:11rem;
  transform: translateX(-50%);
  width: 35%;
  height: 2px;
  background: #ffb300 !important;
}
.altCizgi ::before{
  content: '';
  position: absolute;
  left: 50%;
  top:5.2rem;
  transform: translateX(-50%);
  width: 35%;
  height: 2px;
  background: #ffb300 !important;
}

.istatistik{
  background-color: #C86262;

  margin-bottom: -40px !important;
}
.sahte_fiyat{
  text-decoration:line-through grey;
}

.ust{
  width: 100% !important;
  position: fixed;
  z-index: 1;
  top:0;
}
.begeni_icon{
  position: absolute;
  right: 0;
  top:0;
  box-shadow: 0px 6px 13px -6px rgba(0,0,0,0.75);
  z-index: 1;
  border-radius: 25% !important;
}
.soru_bolumu{
  margin-bottom: -20% !important;
}

.tercih{
  background-color: #1B3D2F !important;
  padding-bottom: 10px;
  padding-top: 10px;
}
.benzer{
  background-color: #FFC0B8 !important;
  padding-top: 10px;
}
.📦rgt_50px{
  right: 0 !important;
  z-index: 2 !important;
}
.en_populer{
  background-color: #1B3D2F !important;
  height: 100%;
}

.sayfa{
  width: 120% !important;
  margin-left: -10% !important;
  margin-top: -22px !important;
}
.bg-clr_white{
  width: 100% !important;
}
.sayfa_gorsel{
  width: 80% !important;
  margin-left: 10%;
}
.navbar{
 width: 100% !important;
  background-color:  white;
  box-shadow: -1px 9px 19px -12px rgba(0,0,0,0.75);
}
.sepet_yerlesimi{
  width: 100%;
  height: 100% !important;
  margin-bottom: 20px !important;
}
.sepet_eleman{
  font-size: 15px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(247, 247, 247);
}
.sepet_urun_ad{
  font-weight: 400;
  color: rgb(13, 17, 54);
  margin-bottom: 10px;
  line-height: 1.5;
}
.sepet_urun_ucret{
  color: rgb(13, 17, 54);
  margin-left: auto;
}
.tamamla{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-bottom: 50px;
}
.tamamla_buton a {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-left: 30px;
  color: white !important;
}
.tamamla_ucret{
  width: auto;
  height: 44px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 158, 127);
  margin-right: 2px;
  padding: 0px 30px;
  overflow: hidden;
  border-radius: 28px;
}
.tamamla_buton{
  height: 48px;
  width: calc(100% - 30px);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgb(0, 158, 127);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 0px;
  border-radius: 48px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}
.sepet_urun_remove{
  margin-left: 15px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.25);
  background-color: transparent;
  padding: 5px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  transition: all 0.4s ease 0s;
}
.sepet_count{
  ackground-color: transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  color: rgb(119, 121, 140);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 10px;
}
.sepet_urun_adet{
  font-size: 13px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  margin-bottom: 5px;
}
.sepet_urun_fiyat{
  color: rgb(0, 158, 127);
  margin-bottom: 10px;
}
.sepet_detay{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.sepet_gorsel{
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 0px 15px;
}
.counter{
  display: flex;
  font-size: 15px;
  font-weight: 700;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
  width: 30px;
  height: 90px;
  flex-direction: column-reverse;
  background-color: rgb(247, 247, 247);
  color: rgb(13, 17, 54);
  border-radius: 200px;
  overflow: hidden;
}
.sepet_duzen{
  position: relative;
  overflow: scroll;
  margin-right: 0px;
  margin-bottom: 50px !important;
  min-height: 0px;
  height: 100%;
  margin-left: 0px;
}

.rs-drawer-backdrop{
  opacity: 0.3 !important;
}

.sepet_kapsam{
  position: relative;
  overflow: hidden !important;
  width: 100%;
    height: 100% !important;
  min-height: 0px;

}
.sepet_miktar{
  border-radius: 8px;
  padding: 5px 0;
  margin-right: 5px;
  box-shadow: -1px 4px 15px -12px rgba(0,0,0,0.75);
}
.steps{
  width: 80% !important;
  margin-left: 10% !important;
}
.sepet_onay{
  position: fixed;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 25%;
  z-index: 2;
}
  .sepet_arka{
  width: 100%;
  }
  .sepet_arka .grid {
    height: 75%;
    margin-bottom: 10%;
  }
.sepet_dar_ekran{
  position: absolute;
  right: 5%;
  top: 10px;
  margin-top: -1.2rem;
}
.sepet_dar_ekran > i {
  font-weight: 100 !important;
  font-size: 24px !important;
}
.sidebar{
  background: coral !important;
  color: black !important;
}
.app-body{
  overflow: hidden !important;
}
.app-footer{
  font-family: Lato,sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #77798c;
  padding: 40px 20px 100px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-footer > div > .social > a {
  margin-left: 5px;
  margin-right: 5px;
}

.app-footer > div > .linkler > a {
  color: #009e7f!important;
  font-size: 12px;
  font-family: Lato,sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.app-footer > div > .marka {
  margin-top: 20px;
  margin-bottom: 5px;
}
.react-multiple-carousel__arrow{
  z-index: 1;
}

.dashboard{
  background-color: #F2ECFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.vidget:hover{
  -webkit-box-shadow: 10px 13px 30px -15px rgba(0,0,0,0.69);
  -moz-box-shadow: 10px 13px 30px -15px rgba(0,0,0,0.69);
  box-shadow: 10px 13px 30px -15px rgba(0,0,0,0.69);
}
.appBackground{
  width: 100%;
  background-image: linear-gradient(to right top, #cedbdc, #d2dbde, #d7dbde, #dadbdd, #dcdcdc);
}
.📦w_400px{
  overflow: hidden;
}

.arama_katman{
  height: 80px !important;
}
.navbar-brand{
  color: rgb(0, 158, 127) !important;
  font-size: 2em;
  margin-left: 15px;
}
.navbar-brand > img {
  width: 100%;
}
.navbar-nav > .nav-item > .nav-link{
 font-size: 1.2em;
}
.navbar-nav {
  margin-left: 50%;
}
.navbar-nav > .nav-item{
  margin-left: 20px;
}


.siparis_panellerim{
  background-color: white !important;
  border-radius: 0 !important;
}
.siparisim_katman{
  width: 100%;
  flex-shrink: 0;
  padding-top: 20px;
}
.siparisim_ara_katman{
  position: relative;
  z-index: 999;
  transform: translate3d(0px, 0px, 0px);
}
.siparisim_ic_katman{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.siparisim_baslik{
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  text-align: center;
  margin-bottom: 40px;
}
.siparisim_urunler_katman{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 0px;
  max-height: 390px;
}
.siparisim_urunler_ic{
  position: relative;
  overflow: scroll;
  margin-right: -17px;
  margin-bottom: -17px;
  min-height: 17px;
  max-height: calc(407px);
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 15px;
}
.siparisim_ic_kenar{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.siparisim_eleman{
  display: flex;
  width: 100%;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.siparisim_adet{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgb(13, 17, 54);
}
.siparisim_carpi{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  margin: 0px 12px;
}
.siparisim_urun_ad{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  margin-right: 15px;
}
.siparis_ucret_katman{
  margin-top: 20px;
  border-top: 1px solid rgb(230, 230, 230);
  padding: 20px 15px 0px;
}
.siparis_ucret_eleman_baslik{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(119, 121, 140);
}
.siparis_ucret_eleman_icerik{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(119, 121, 140);
}
.siparis_ucret_eleman_toplam{
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}
.siparis_ucret_eleman_baslik_toplam{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgb(13, 17, 54);
}
.siparis_ucret_eleman_icerik_toplam{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgb(13, 17, 54);
}
.siparis_ucret_eleman{
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
.siparisim_urun_fiyat{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  margin-left: auto;
}

.devam_ediyor{
  left: 0;
  height: 75px;
  width: 40%;
  min-width: 75px !important;
  border-radius: 75px;
  margin-left: 30%;
  position: sticky !important;
  animation-fill-mode: both !important;
  animation-duration: 800ms !important;
  animation-delay: 150ms !important;
  animation-iteration-count: 1 !important;
  opacity: 1 !important;
  box-shadow: 10px 14px 23px 0px rgba(0,0,0,0.75);
}
.kayan_gorsel_gizli{
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}
.bitti{
  display: none !important;
  visibility: hidden !important;
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
}
.devam_ediyor{
  border-radius: 100px;
  animation-duration: 0.5s;
  box-shadow: 10px 14px 23px 0px rgba(0,0,0,0.75);
}
.urun_counter_katman{
  display: flex;
  background-color: rgb(0, 158, 127);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
  width: 104px;
  height: 36px;
  border-radius: 200px;
  overflow: hidden;
}
.urun_counter{
  background-color: transparent;
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 10px;
  font-weight: 100 !important;
}
.urun_bilgisi >.rs-panel-body> input{
  margin-top: 10px;
  margin-bottom: 10px;
}
.urun_ekle_alt{
  padding: 20px 30px;
  position: fixed;
  bottom: 0;
  width: 120%;
  margin-left: -10%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  background-color: rgb(255, 255, 255);
}
.urun_olustur_butonu{
  width: 50%;
  background-color: rgb(0, 197, 141);
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-right: 0px;
  margin-left: 10%;
  cursor: pointer;
  transition-property: background;
  -webkit-appearance: none;
  text-decoration: none;
  display: inline-flex;
  outline: none;
  border-style: none;
  border-width: 0px;
  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
urun_ekle_katman{

  height: 100%;
  overflow: auto;
  margin-bottom: 25px;
}
.kategori_secici{
  margin-top: 50px;
  margin-bottom: 50px;
}
.kategori_secici > div > ul {
  width: 250px !important;

}
@media screen and (max-width: 767px){
  .siparis_hata{
    width: 90%;
    margin-left: 5%;
    padding: 30px 0;
  }
  .sonuclar_katman {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .login_page{
    width: 80%;
    margin-left: 10%;
  }
  .siparis_kart {
    width: 100% !important;
    height: 100% !important;
  }
  .siparis_kart > div > div > .rs-modal-body {
    max-height: 100% !important;
  }

  .urun_ekle_katman{
    width: 100%;
  }
  .sepet_kapsam{
    max-height: 370px;
  }
  .EWA-dv {
    margin-top: 40px;
  }
  .navbar-brand{
    margin-top: -5%;
    font-size: 1.6em;
  }

  .📦w_400px{
    width: 100% !important;
  }

  .urunler{
    width: 120%;
    margin-left: -10%;
  }
  .blur{
    position: absolute;
    width: 90%;
    margin-left: 2%;
    height: 250px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-image: url('https://res.cloudinary.com/koydengelsin/image/upload/v1573126812/icerik_w3diqf.jpg');
  }
  .carous-item{
    height: 270px;
    width: 100%;
    border-radius: 0px 20px;

  }
  .carous{
    width: 120%;
    margin-left: -10%;
    max-height: 300px;
    box-shadow: 3px 7px 36px -12px rgba(0,0,0,0.75);
  }
  .siparisver{
    width: 120%;
    margin-left: -10%;
    margin-top: -10%;
  }

  .carous-img{
    max-height: 280px;
    width: 100%;
  }
  .kac-defa-satilmis{
    width: 110%;
    margin-left: -5%;
  }
}
@media screen and (min-width: 767px) {
  .siparis_hata{
    width: 50%;
    margin-left: 25%;
    padding: 20px 30px;
  }
  .login_page{
    width: 50%;
    margin-left: 25%;
  }
  .urun_ekle_katman{
    width: 80%;
    margin-left: 10%;
  }
  .sepet_dar_ekran{
    visibility: hidden;
    display: none;
  }


}




.fiyat{
  margin-left: 50% !important;
}
.siparis-buton{
  border-radius: 5px;
  width: 70%;
  font-size: 1rem;
  margin-left: 15%;
  margin-top: -5%;
}
.urun-bilgi{
  margin-top: 10%;
  font-size: 10px;
}


.seviye-butonu{
  position: absolute;
  top:0;
  right: 5%;
}
.duzenle-modal{
  width: 95%;

}

.siparisver{
  text-align: center;
  align-items: center;
}
.siparis-notu{
  max-width: 100%;
}
.sepet-img{

height: 120px;
}

.azalt-buton{
  position: absolute;
  top:10%;
  right:-5%;
  border-radius: 50px;
}

.magaza{
  background-color: #EBE6E6;
  border: 0;
  border-radius: 8px;
}

.hesapno-text{
  width: 87%;
}

.golge{
  -webkit-box-shadow: 10px 9px 24px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 9px 24px -13px rgba(0,0,0,0.75);
  box-shadow: 10px 9px 24px -13px rgba(0,0,0,0.75);
  border-radius: 8px;
}
.sepete-ekle-buton{
  font-size: 100%;

}
.btn-info{
 width: 100%;
}

.first{
  width: 120%;
  margin-left: -10%;
  height: 400px;
  background-image: url('https://res.cloudinary.com/koydengelsin/image/upload/v1573126812/icerik_w3diqf.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
.indirim{
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 24px;
  background-color: rgb(251, 185, 121);
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 12px;
}

.rs-dropdown-menu{
  z-index: 10 !important;
}
.s-dropdown-item{
  z-index: 10 !important;
}
@keyframes animate {
  0% {
    background-position: -400%;
    box-shadow: 0 0 0 -16px rgba(0,0,0,0.75);
  }
  100% {
    background-position: 400%;

  }
}
.first-buton{
 margin: auto;
 width: 50%;
  margin-left: 25%;
  margin-top: 15%;
  border-radius: 8px;
  background-color: #00D1DA;
  border: 0;
  box-shadow: 3px 13px 29px -11px rgba(0,0,0,0.75);
  font-size: 18px;
}
html{
  scroll-behavior: smooth;
}
.chart-wrapper{
  min-height: 600px;
  width: 110% !important;
  margin-left: -5% !important;

}

.aylik-grafik{
  width: 100%;

}
  .graik_kart{
    width: 100%;

  }
.title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 30px;

}
.chartjs-size-monitor{
  display: none !important;
  visibility: hidden !important;
}
.css-yrjgl1{
  background-color: #FFE850 !important;
  margin-left: 10% !important;
}



.sepet_alt_kısım{
  padding-top: 50px;
  padding-bottom: 65px;
  background-color: white;;
  width: 105%;
  position: relative;
  bottom: 0;
}
.sepet_alt_kısım .btn{
  margin-left: 25%;
  width: 50%;
  margin-top: 25px;
  margin-right: 25%;
}
.yan_seçke{
  background-color: black ;
}

.menu{
  background-color: white !important;
}

.css-1yiw7zu {
  margin-top: 15%;
}


.react-multi-carousel-dot-list{
  margin-top:2% !important;
}
.tek_urun{
  max-width: 100%;
  order: 0;
  flex: 0 0 100%;
  overflow-x: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}
.tek_urun_alt{
  max-width: 100%;
  order: 1;
  flex: 0 0 100%;
  padding: 10px 0px 30px;
  border-left: 1px solid rgb(243, 243, 243)
}
.btDBfe {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(119, 121, 140);
}
.OLDqC {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(66, 69, 97);
  line-height: 2;
  margin-top: 30px;
}
.ana_sayda_görseli{
  width: 100% !important;
  object-fit: cover;
  object-position: 0 18% !important;
}


.urun_card{
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
}
.mobile_kategoriler{
  width: 100%;
  z-index: 1;
  position: relative !important;
  background-color: rgb(255, 255, 255);
  height: 55px !important;
  overflow: hidden !important;
}

.kategori_listesi{
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: flex-start !important;
  height: 80px !important;
  overflow-y: hidden !important;
  overflow-x: auto !important;
  padding-top: 15px !important;
  padding-bottom: 25px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.kategori_listesi .item {
  margin-right: -35px !important;
}
.kategori_listesi .item a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: rgb(119, 121, 140);
  line-height: 1.2;
  white-space: nowrap;
  padding: 5px 5px ;
  border-radius: 6px;
}
.urun_card{

  margin: 5% 5% !important;
}
.mobile_aktif_liste{
  background-color: rgb(0, 158, 127) !important;
  color: rgb(248, 248, 248) !important;
  border-radius: 100px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  box-shadow: -5px 17px 30px -11px rgba(0,0,0,0.75) !important;
}
.kateori_dış_iskelet .rs-nav {
  margin-bottom: 15px !important;
  padding-left: 0px !important;
  position: relative !important;
  overflow-x: hidden !important;

}
.rs-nav-item{
  font-size: 18px !important;
  font-weight: 700;
  width: 100% !important;
  display: flex !important;
  -webkit-box-align: center;
  align-items: center !important;
  margin-bottom: 1px !important;
  color: rgb(13, 17, 54) !important;
  cursor: pointer !important;
  transition: all 0.15s ease-in-out 0s !important;
  padding: 5px 0px !important;
  outline: 0px !important;
}
.rs-nav-item a {
  width: 100% !important;
}
.urun_card_bilgi{
  padding: 20px 25px 30px;
  margin-top: -30px;
}
.sepet_gösterici{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(0, 158, 127);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 21px 36px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -46px;
  z-index: 99;
  padding: 0px;
  border-radius: 6px 0px 0px 6px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}
.sepet_bilgileri{
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 15px 10px;
}
.sepet_göster_icon{
  margin-right: 10px  ;
}
.sepet_goster_fiyat{
  width: auto;
  height: 35px;
  min-width: 80px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(0, 158, 127);
  overflow: hidden;
  border-radius: 6px;
  margin: 0px 10px 10px;
}
.mobile_sepet_ucret{
  width: 90px;
  height: 41px;
  margin-left: auto;
  margin-right: 0px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: rgb(0, 158, 127);
  margin-right: 2px;
  overflow: hidden;
  border-radius: 28px;
}
.mobile_sepet_gösterici{
  width: calc(100% - 60px);
  height: 45px;
  bottom: 30px;
  right: 30px !important;
  padding: 2px 2px 2px 30px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(0, 158, 127);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 21px 36px;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  padding: 0px 0px 0px 30px;
  border-radius: 60px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}
.urun_miktar{
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(119, 121, 140);
}
.urun_ad{
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 800 !important;
  color: rgb(13, 17, 54);
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;
}
.urun_meta_bilgi{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.urun_ucret{
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 158, 127);
}
.urun_buton{
  color: rgb(0, 158, 127);

  background-color: transparent !important;
}
.tek_urun_sepete_ekle{
  color: rgb(0, 158, 127);
  margin-left: 10px;
}
.adres_buton_katman{
  margin-top: 25px;
}
.urun_meta{

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.rs-nav-item-active .rs-nav-item-content{
  color: rgb(0, 158, 127) !important;
}
.sepet_title_eleman{
  display: inline-flex !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  color: rgb(0, 158, 127);
}
@media only screen and (max-width:767px){
  .urun_img{
    height: 155px !important;

  }
  .sepet_title{
    -webkit-box-pack: center !important;
    justify-content: center !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .rs-drawer-header-close{
    position: absolute !important;
    top: -60px !important;
    left: 45%;
    background-color: rgb(255, 255, 255) !important;
    width: 35px !important;
    height: 35px !important;
    color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 50% !important;
  }
  .kateori_dış_iskelet{
    display: none;
    visibility: hidden;
  }
}
.kzoayf {
  width: 100%;
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: 25px;
}
.mqzOv {
  font-family: Poppins, sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  line-height: 1.5;
  display: flex;
}
.fbUCfN {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 25px;
  line-height: 31px;
}
.cqZYhV {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 158, 127);
}
.adres_buton_text{
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
}
.adres_buton{
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(0, 158, 127);
  height: 48px;
  width: auto;
  color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  border-radius: 6px;
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  transition: all 0.3s ease 0s;
}
.magnifier-image{
  width: 100%;
  height: auto !important;
  object-fit: scale-down !important;
}
.kateori_dış_iskelet{
  margin-top: 10px;
}
.kateori_dış_iskelet> div {
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .sol_menu_buton{
    width: 26px;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 8px;
  }
  .sol_menu_buton > span{
    display: block;
    background-color: rgb(13, 17, 54);
    height: 2px;
    margin-bottom: 6px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out 0s;
  }
  .sol_menu_buton >  span:nth-child(1) {
    width: 26px;
  }

  .sol_menu_buton >  span:nth-child(2) {
    width: 12px;
  }
  .sol_menu_buton > span:last-child {
    margin-bottom: 0px;
  }
  .sol_menu_buton > span:nth-child(3) {
    width: 22px;
  }
  .adres_buton{
    width: 100%;
  }
  .fbUCfN {
    margin-left: 15px;
  }
  .mqzOv {
    word-break: break-word;
  }
  .hJAUJy {
    padding: 0px 30px 30px;
  }
  .sepet_gösterici{
    display: none;
    visibility: hidden;
  }
  .ana_sayfa_arama{
    display: none;
    visibility: hidden;
  }
  .arama{
    position: absolute;
    top:20px;
    width: 100% !important;
    background-color: white;
    margin-left: 1px !important;
  }
  .search .input{
    width: 100% !important;
  }
  .ana_sayda_görseli{
    height: 15rem !important;

  }


  .magnifier-image {
    height: auto !important;
    width: 80% !important;
    margin-left: 10% !important;

  }
  .magnifier{
    width: 100% !important;
  }


  .alışveriş_butonları{
    width: 100% !important;
    margin-left: -5% !important;
  }


  .menu{
    width: 120% !important;
    margin-left: -10% !important;
    box-shadow: -1px 7px 15px -6px rgba(0,0,0,0.75) !important;
  }
  .menu .item{
    width: 14% !important;
  }



  .nasıl{
    height: 150px;
  }
  .slayt{
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

}

@media only screen and (min-width: 767px) {

  .urun_img{
    height: 200px !important;

  }
  .mobile_sepet_gösterici{
    display: none;
    visibility: hidden;
  }
  .mobile_kategoriler{
    visibility: hidden;
    display: none;
  }
  .ana_sayda_görseli{
    height: 25rem !important;
  }
  .rs-nav-vertical{
    width: 100% !important;
    font-family: Lato, sans-serif !important;
    margin: 0 !important;
    margin-left: 5% !important;
    border-radius: 4px !important;
    background: rgb(255, 255, 255) !important ;
    height: 100% !important;
  }

  .ana_sayfa_arama{
    padding: 16px;
    z-index: 2;
    position: absolute;
    top:40%;
    margin-left: 25% !important;
    width: 50%;
  }
  .ui .input{
    display: flex;
  }

.arama>.wide> .ui>.input>input{
    padding: 16px;
    border: none !important;
    width: 100% !important;
    border-radius: 8px !important;
    box-shadow: 0px 11px 24px -10px rgba(0,0,0,0.75);
   background: rgb(247, 247, 247) !important;

  }
  .ui.search>.results{
    width: 100% !important;
  }

  .breadcrumb{
    padding-top: 2% !important;

  }

  .card_aciklama{
    margin-top: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .urun_gorsel{
    height: 350px;
  }


  .nasıl{
    height: 300px;
  }
  .slayt{
    height: 650px;
    width: 100%;

    object-position: 0 20%;
  }

}
.yan_menu{
  width: 85% !important;
}
.yan_menu_baslik{
  background-color: rgb(247, 247, 247);
  padding: 45px;
  margin-top: 40px;
}
.yan_menu_baslik_ic{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.yan_menu_liste{
  padding: 40px 0px;
  margin-top: -20px;
  overflow: hidden !important;
}
.yan_menu_liste > .eleman > .aktif{
 color: rgb(0, 158, 127);
}
.yan_menu_liste >.eleman{
  margin-top: 20px;
}
.siparis-card-text{
  font-family: Oxygen !important;
  font-size: 16px !important;
  font-weight: 100 !important;
}
.yan_menu_liste >.eleman>a>span {

  font-weight: 400;
  color: rgb(13, 17, 54);
  margin-bottom: 19px;
  position: relative;
  padding: 5px 45px;
  transition: all 0.15s ease-in-out 0s;
}
.yan_menu_giris_butonu{
  padding-left: 15px;
  padding-right: 15px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(0, 158, 127);
  width: auto;
  color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
}
.yan_menu_baslik .rs-drawer-header-close{
  margin-top: 45px;
  margin-left: 65%;
}
.card_buton{
  height: 36px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 13px;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(247, 247, 247);
  border-image: initial;
  border-radius: 18px;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  font-family: Lato, sans-serif;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
  color: rgb(0, 158, 127);
  background-color: transparent;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  text-decoration: none;
  border-image: initial;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(241, 241, 241);
  transition: all 0.35s ease 0s;
  border-radius: 6px;
}
.slayt_iç{
  position: relative;
  text-align: center;
  color: white;
}

.react-multiple-carousel__arrow {
  z-index: 1 !important;
  font-size: 25px;
  min-width: 35px !important;
  min-height: 35px !important;
}
.react-multiple-carousel__arrow::before{
  color: #FF7484 !important;
}
.react-multi-carousel-dot-list li button{
  background-color: white;

}
.react-multi-carousel-dot--active button{
  background-color: #F68252 !important;
  width: 25px !important;
  height: 8px !important;
  margin-bottom: 4px !important;
  border: none !important;
  border-radius: 8px !important;
}



.card{
  border-radius: 0 !important;
  margin-bottom: 20px !important;
}
.card .image img{
  border-radius: 0 !important;
}
.urun_gorsel{
  width: 100%;
  border-radius: 0 0 0 0 !important;

}
.sepete_at{
  width: 100%;
  background: 0;
}
.css-nill{
  margin-top: 200px !important;
}
.kategori_urunler{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.kateori_kapsam{
  margin-left: 5%;
  margin-right: 5%;
}

.yan_menu_giris{
  margin-left: 15%;
}

.nasıl{
  width: 200%;

  object-position: 40% 50%;
  border-radius: 0px !important;
}
.text-block {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: #0E9B95;
  color: white;
  padding-left: 60px;
  padding-right: 40px;
  width: 150px;
  border-radius: 4px;

}
.slayt_text{
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: #0E9B95;
  color: white;
  height: 50px;
  width: 200px;
  text-align: center;
}

.reklam{
 margin-left: -20% !important;
}
.modals{
  margin-left: 5% !important;
}
 .step{
  flex: auto !important;
}
 .kategori{
   width:120% ;
   margin-left: -10%;
 }
 .siparis_header{
   margin-bottom: 30px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
   padding: 40px;
   background-color: rgb(255, 255, 255);
 }
.siparis_header > div > .head {
  padding: 0px 15px;
}
.siparis_header > div > .head > h2 {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  font-weight: 700;
  font-family: Lato, sans-serif;
  color: rgb(22, 31, 106);
}
.siparis_secici > ul >a {
  border-radius: 0 !important;
}
.rs-popover.in{
  opacity: 1 !important;
}
.siparis_layout > .rs-panel-body > .detay {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.siparis_layout > .rs-panel-body > .detay > div {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(13, 17, 54);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.siparis_layout > .rs-panel-body > .detay > div > span > a {
  color: rgb(13, 17, 54);
}
.siparis_layout > .rs-panel-body > .orta {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.siparis_layout > .rs-panel-body > .orta > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(241, 241, 241);
  border-bottom: 1px solid rgb(241, 241, 241);
}

.siparis_layout > .rs-panel-body > .orta > div > .bolum {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid rgb(241, 241, 241);
  border-right: 0px;
}
.siparis_layout > .rs-panel-body > .orta > div > .bolum > span {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  line-height: 1.5;
}
.siparis_layout > .rs-panel-body > .orta > div > .cost {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  padding: 20px;
}
.siparis_layout > .rs-panel-body > .orta > div > .cost > div {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.siparis_layout > .rs-panel-body > .orta > div > .cost > div > div {
  color: rgb(13, 17, 54);
}
.siparis_layout > .rs-panel-body> .extra {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collapse.in {
  display: block !important;
}
.login_page {
  background-color: white;
  margin-bottom: 100px;

  border-radius: 0 !important;

}
.login_page > .rs-panel-body {
  padding: 30px;
}
.login_page > .rs-panel-body > input {
  margin-bottom: 20px;
}
.sonuclar_katman {
  width: calc(100% - 330px);
  padding: 0px 20px 20px;
  margin-top: 50px;
  margin-left: 30px;

}
.sonuclar {
  background-color: rgb(247, 247, 247) ;
  margin-bottom: 20px;
}

.sorgula_katman {
  width: 100%;
  padding-top: 30px;
  margin-top: -21px;
  padding-bottom: 400px;
  background-color: white;
}
.sonuclar > .rs-panel-heading {
  display: flex !important;
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  padding: 15px 20px !important;
  border-bottom: 1px solid rgb(241, 241, 241) !important;
}
.sonuclar > .rs-panel-heading > .rs-panel-title {

}
.sonuclar > .rs-panel-heading > .rs-panel-title >.num  {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700 !important;
  color: rgb(13, 17, 54);
}
.sonuclar > .rs-panel-heading > .rs-panel-title >.num > span {
  font-weight: 400;
}
.sonuclar > .rs-panel-heading > .rs-panel-title > .durum {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(46, 112, 250);
  line-height: 1;
  background-color: rgba(46, 112, 250, 0.1);
  padding: 10px;
  border-radius: 6px;
  margin-left: 20px;
}
.sonuclar > .rs-panel-body > .detay_tepe {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sonuclar > .rs-panel-body > .detay_tepe > div {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(13, 17, 54);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.sonuclar > .rs-panel-body > .detay_orta {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(241, 241, 241);
  border-bottom: 1px solid rgb(241, 241, 241);
}
.sonuclar > .rs-panel-body > .detay_orta > .adres {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid rgb(241, 241, 241);
  border-right: 0px;
}
.sonuclar > .rs-panel-body > .detay_orta > .adres > h1 {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  margin-bottom: 10px;
}
.sonuclar > .rs-panel-body > .detay_orta > .adres > span{
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  line-height: 1.5;
}
.sonuclar > .rs-panel-body > .detay_orta > .cost {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  padding: 20px;
}
.sonuclar > .rs-panel-body > .detay_orta > .cost > .eleman {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.sonuclar > .rs-panel-body > .detay_orta > .cost > .eleman > div {
  color: rgb(13, 17, 54);
}
.sonuclar > .rs-panel-body > .detay_orta > .step {
  width: 100%;
  display: flex;
  padding: 30px 25px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.sonuclar_page {
  background-color: white;
  width: 100%;
  margin-top: -30px;
  padding-bottom: 200px;
}
.siparis_hata {
  background-color: rgb(247, 247, 247);
  margin-top: 30px;
}
.siparis_hata > div >button {
  margin-top: 20px;
}
.telefonla_sorgula{
  width: 100%;
 margin-left: 5%;
}
.edit_bolgesi{
  display: flex;
  flex-direction: row;
}
.edit_bolgesi > div {
  width: 100%;
  padding-bottom: 150px;
  margin-top: 20px;
}
.edit_bolgesi > div > input{
  margin-bottom: 10px;
}
.edit_bolgesi > div > .seciciler {
  margin-top: 20px;
  margin-bottom: 20px;
}
.edit_bolgesi > div > .seciciler > div {
  margin-top: 10px;

}
.siparis_kart  > div > div{
  background-color: whitesmoke !important;
}
.siparis_layout {
  background-color: whitesmoke !important;
}
.wrap_d6d > .button_592{
  margin-bottom: 5px !important;
  width: 47px !important;
  height: 47px !important;
  margin-right: 5px !important;
  box-shadow: -5px 3px 40px -8px rgba(0,0,0,0.75) !important;
}
